<ion-app>
  <ion-menu contentId="main-content" type="overlay" side="start">
    <ion-header>
      <ion-toolbar class="menu-header-bar">
        <div class="menu-brand">
          <img src="assets/img/logo1.png" class="menu-logo" alt="byRaiMakes">
          <div class="menu-tagline">SUA BELEZA. SEU GLOW.</div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list id="inbox-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- Admin Dashboard - apenas para admin logado -->
        <ion-menu-toggle auto-hide="false" *ngIf="isAdmin">
          <ion-item routerDirection="root" routerLink="/admin/dashboard" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" ios="speedometer-outline" md="speedometer-sharp"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/meus-pedidos" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" ios="receipt-outline" md="receipt-sharp"></ion-icon>
            <ion-label>Meus Pedidos</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>